:root {
    --color10: rgb(71, 71, 71);
    --color8: rgb(117, 116, 116);
    --color6: rgb(167, 161, 161);
    --color4: rgb(218, 212, 212);
  }

* {margin: 0; padding: 0;
box-sizing: border-box;
}

header {height: 4rem;
background-color: black;
color: white;
display: flex;
flex-direction: row; justify-content: space-between; align-items: center;}

.container {padding: 0 1rem;
margin: 0 auto;
width: 100%;
max-width: 1320px;}

section {padding: 3rem 0;
}

.section1 {background-color: var(--color10);
}

.section2 {background-color: var(--color8);}

.section3 {background-color: var(--color6);}

.section4 {background-color: var(--color4);}